.center {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-left: 260px;
  margin-right: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter {
  height: 20%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-left: 260px;
  margin-right: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.process {
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 767px) {
  .center {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .filter {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .filters {
    flex-direction: column;
  }
}

@media only screen and (max-width: 507px) {
  .process {
    display: flex;
    flex-direction: column;
  }
}
